.cart-info {
  position: absolute;
  top: 2rem;
  right: 50%;
  transform: translate(50%, 0);
  width: 350px;
  border-radius: 0.2rem;
  background-color: white;
  transition: all 0.4s ease-in-out;
  animation: overlay 0.5s;
  padding: 1rem;
  box-shadow: rgb(0 0 0 / 10%) 1px -10px 25px -5px,
    rgb(0 0 0 / 4%) 0px 10px 10px -5px;
}
@media screen and (max-width: 1000px) {
  .cart-info {
    position: absolute;
    top: 5rem;
    right: 50%;
    transform: translate(0, 0);
    transition: all 0.4s ease-in-out;
    animation: overlay 0.5s;
  }
}

.cart-info p:nth-of-type(1) {
  padding-bottom: 0.5rem;
  font-weight: bold;
  border-bottom: 1px solid var(--Light-grayish-blue);
}
.cart-info .empty {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Dark-grayish-blue);
  margin: 3rem;
}
.not-empty {
  margin-top: 1rem;
}
.up-section {
  display: flex;
  margin-bottom: 1rem;
}
.up-section img {
  width: 60px;
  height: 60px;
  border-radius: 0.2rem;
  margin-right: 1rem;
}

.up-section .ps p {
  letter-spacing: 1px;
  color: gray;
  font-weight: 400;
}
.up-section .ps p span {
  font-weight: 700;
  color: black;
}
.not-empty button {
  background-color: var(--Orange);
  color: white;
  width: 100%;
  padding: 1rem 1rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}
.not-empty button:hover {
  cursor: pointer;
  background-color: rgba(255, 166, 0, 0.719);
}
