.counter{
  display: flex;
  background-color: var(  --Light-grayish-blue);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}
.counter button {
  background-color: transparent;
  border: none;
  outline: none;
}
.counter p {
  margin: 0 1.5rem;
  font-weight: 700;
  font-size: 1.3rem;
}
.counter button i {
  color: var(--Orange);
  font-weight: 700;
  transition: all 0..3s;
}
.counter button i:hover {
  cursor: pointer;
  opacity: 0.7;
}