section .description {
  padding: 2rem;
  margin-top: 1rem;
  max-width: 700px;
}
section .description p:nth-of-type(1) {
  color: var(--Orange);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

section .description p:nth-of-type(2) {
  letter-spacing: 1px;
  font-size: 2rem;
  margin-top: 0.5rem;
  font-weight: 700;
  font-size: 3.5rem;
}

section .description p:nth-of-type(3) {
  margin-top: 1.5rem;
  letter-spacing: 1px;
  font-size: 1.3rem;
  color: var(--Dark-grayish-blue);
}

section .description p:nth-of-type(4) {
  margin-top: 1.5rem;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
}
section .description p:nth-of-type(4) span {
  color: var(--Orange);
  font-size: 1rem;
  display: inline-block;
  padding: 0.2rem;
  height: fit-content;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  background-color: rgba(255, 166, 0, 0.075);
}

section .description p:nth-of-type(5) {
  margin-top: 0.5rem;
  font-size: 1rem;
  margin-left: 0.2rem;
  font-weight: 700;
  color: var(--Dark-grayish-blue);
  text-decoration: line-through;
}
.counter_button {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}
