.App {
  margin: 0 12rem;
}
@media screen and (max-width: 1000px) {
  .App {
    margin: 0 1rem;
  }
}

nav {
  display: flex;
  margin: 0 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 2.5rem 1rem;
  border-bottom: 1px solid;
  border-color: var(--Grayish-blue);
  width: 100%;
}
.toggle--btn i {
  display: none;
}

@media screen and (max-width: 1000px) {
  .toggle--btn i {
    display: block;
    font-size: 2rem;
    height: 30px;
    margin-right: 1rem;
    transition: all 0.3s ease-in-out;
  }
  .toggle--btn i {
    cursor: pointer;
    opacity: 0.7;
  }
}

@media screen and (max-width: 1000px) {
  nav {
    padding: 1px 0rem 2.5rem 0rem;
  }
}
nav .right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
nav .right .logo {
  margin-right: 2rem;
}
nav .right .logo img {
  width: 200px;
}
nav .links {
  display: flex;
}
@media screen and (max-width: 1000px) {
  nav .links {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    top: 0px;
    left: 0px;
    height: 100vh;
    z-index: 1;
    padding: 5rem 2rem;
    width: 0;
    overflow: hidden;
    padding: 0;
    transition: all 0.4s ease-in-out;
    animation: show 0.3s;
    padding-top: 4rem;
    z-index: 5;
  }
  .show {
    width: 50% !important;
    padding: 4rem 1rem !important;
    visibility: visible !important;
  }
}

.close--toggle {
  font-size: 2rem;
  margin-bottom: 2rem;
  transition: all 0.3s ease-in-out;
}
.close--toggle:hover {
  opacity: 0.7;
  cursor: pointer;
}

nav .links li {
  list-style: none;
  margin-right: 1.5rem;
  font-size: 1.3rem;
  position: relative;
  color: var(--Dark-grayish-blue);
}
nav .links li:hover {
  cursor: pointer;
  color: var(--Very-dark-blue);
}
@media screen and (max-width: 1000px) {
  nav .links li:hover {
    cursor: pointer;
    color: transparent;
  }
}

nav .links li:hover::after {
  width: 100%;
}
nav .links li::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -50px;
  left: 0px;
  transition: all 0.1s ease-in-out;
  background-color: var(--Orange);
}
@media screen and (max-width: 1000px) {
  nav .links li {
    margin-bottom: 1rem;
    color: black;
    font-weight: 700;
  }
}
nav .left {
  display: flex;
  align-items: center;
}
nav .icon-cart {
  position: relative;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .icon-cart {
    position: unset;
  }
}
.notification {
  background-color: var(--Orange);
  color: white;
  padding: 0.5rem;
  border-radius: 50%;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  position: absolute;
  right: 20px;
  top: -5px;
  font-weight: 700;
}
nav .icon-cart i {
  margin-right: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  height: 1.5rem;
  color: var(--Dark-grayish-blue);
}
nav .avatar img {
  width: 40px;
  border: 3px solid transparent;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
nav .avatar img:hover {
  background-color: var(--Orange);
  cursor: pointer;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
}

@media screen and (max-width: 700px) {
  .hero {
    display: flex;
    flex-direction: column;
  }
}
